img {
    border-radius: 20px;
    width: 150px;
    padding: 5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom: 0px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
.center {
    padding: 20px;
}